<div class="container">
  <div class="p-grid">
    <div class="p-col-12">
      <p-megaMenu styleClass="navbar" (click)="display = true">
        <button pButton type="button" (click)="display = true" icon="pi pi-bars"></button>
      </p-megaMenu>
    </div>
  </div>
</div>

<p-sidebar styleClass="sidebar-menu" [(visible)]="display" position="right" [baseZIndex]="10000">
  <li class="navbar-usuario">Carlos Gomes</li>
  <li class="navbar-menuitem"><a href="#">Lançamentos</a></li>
  <li class="navbar-menuitem"><a href="#">Pessoas</a></li>
  <li class="navbar-menuitem"><a href="#">Logout</a></li>
</p-sidebar>
