/* You can add global styles to this file, and also import other style files */
body {
  margin: 1;
  font-family: Arial, Helvetica, sans-serif;
  color: #404C51;
}

label {
  font-weight: bold;
}

@media (min-width: 1200px){
  .container {
    width: 1170px;
    margin: 0 auto;
  }
}

.valor {
  width: 140px;
  text-align: right;
}

.data {
  width: 120px;
  text-align: center;
}

.acoes {
  width: 120px;
  text-align: center;
}

.navbar {
  background-color: #007AD9;
}

.sidebar-menu {

  background-color: #3a3633;

  list-style: none;
}

.navbar-usuario {
  padding: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #525151;

  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}

.navbar-menuitem {
  padding: 15px;

}

.navbar-menuitem a {
  color: #c0bbb7;
  text-decoration: none;
}

.navbar-menuitem a:hover {
  color: #fff;
}

.navbar-button {
  color: red;
}

.status-item a{
  color: black;
  text-decoration: none;
}

.header-table {
  text-align: center;
  color: red;
}
